{% extends "base.html" %}
{% block title %}Cadastros{% endblock %}
{% block content %}
<div class="row g-3">
  <div class="col-12">
    <h1 class="h4 mb-3">Cadastros</h1>
    <a class="btn btn-primary me-2 mb-2" href="{% url 'empresa_criar' %}">Empresa</a>
    <a class="btn btn-primary me-2 mb-2" href="{% url 'colaborador_criar' %}">Colaborador</a>
    <a class="btn btn-primary me-2 mb-2" href="{% url 'veiculo_criar' %}">Veículo</a>
    <a class="btn btn-primary me-2 mb-2" href="{% url 'acesso_criar' %}">Atribuição/Acesso</a>
    <a class="btn btn-outline-secondary mb-2" href="{% url 'upload_lotes' %}">Upload em lote</a>
  </div>
</div>
{% endblock %}
